@import "tailwindcss";

/* ------------------- */
/*        Menu         */
/* ------------------- */
.dd-menu {
  position: absolute;
  top: 50px;
  padding: 10px 20px;
  @apply w-fit;
  @apply rounded-md;
  @apply bg-emerald-700;
}

.dd-menu.active {
  opacity: 1;
  visibility: visible;
}

.dd-menu.inactive {
  opacity: 0;
  visibility: hidden;
}

/* ------------------- */
/*       Trigger       */
/* ------------------- */
.dd-trigger {
  @apply flex flex-row gap-2 items-center;
}

/* ------------------- */
/*      Container      */
/* ------------------- */
.dd-container:hover {
  cursor: pointer;
}
